.add-event-container {
  max-width: 500px;
  margin: auto;
  padding: 20px;
}

.full-width {
  width: 100%;
}

.add-event-card {
  padding: 20px;
}

.success-message {
  color: green;
  font-weight: bold;
}
  