<nav [ngClass]="{ 'admin-navbar': isAdmin(), 'user-navbar': isUser() }">
  <div class="navbar-container">
    <a class="logo" routerLink="/">Event Booking</a>

    <ul class="nav-links">
      <li><a routerLink="/">Events</a></li>
      <li *ngIf="isAdmin()"><a routerLink="/admin/add-event">Add Event</a></li>
      <li *ngIf="isLoggedIn()"><a routerLink="/profile">Profile</a></li>
      <li>
        <a *ngIf="!isLoggedIn()" routerLink="/login">Login</a>
        <a *ngIf="isLoggedIn()" href="#" (click)="logout()">Logout</a>
      </li>
    </ul>
  </div>
</nav>

<div class="content-container">
  <router-outlet></router-outlet>
</div>
